/* You can add global styles to this file, and also import other style files */

html, body 
{ height: 100%; 
}

body 
{ 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
}


h3 {
    background-color : #c99a00;
    color : white;
    text-align : center;
    padding : 10px;
}

.REDhohoan {
  color: crimson;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
}

.BLACKhohoan {
  color: black;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
}


.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;    
  width: 100%;
}

.btn-container button {
  width: 140px;
}
